<h1>Bienvenido <%= `${user.name}` %></h1>
<img src="<%= user.img  %>" alt="">
<br>
<br><a href="/products">Productos</a>
<br><a href="/cart">Carrito</a>
<br><button><a href="/logout">Deslogueo</a></button>
