<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%all.forEach(e => {%> 
        <div style="border: 1px solid; width: 400px" method="post">
            <div><h3 name="name"><%= `${e.name}` %></h3><h4 name="precio"><%= `$${e.precio}` %></h4></div>
            <img src="<%= e.foto  %>" alt="" style= "width: 100px">
            <div><b>Ingredientes: </b><p><%= `${e.descripción}` %></p></div>
            <button type="submit">Añadir</button>
        </div>
    <% }) %>
</body>
</html>