<html>
    <head>
        <title>Singup</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body class="container">
        <h1>Registro de usuario</h1>
        <a href="login">Login</a>
        <form autocomplete="off" action="/singup" method="post" id="formRegistro">
            <div class="page-header">
                <label>Ingrese su nombre</label>
                <input class="form-control" required type="text" name="name"/>
            </div>
            <div class="page-header">
                <label>Ingrese su mail</label>
                <input class="form-control" required type="text" name="mail"/>
            </div>
            <div class="page-header">
                <label>Ingrese su contraseña</label>
                <input class="form-control" required type="password" name="password"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Registro" id="btnRegistro"/>
        </form>

    </body>
</html>